.u-section-1 .u-sheet-1 {
  min-height: 400px;
}@font-face {
  font-family: 'HelveticaNeue-01';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue-01.ttf);
}@font-face {
  font-family: 'PureType-Extended700';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PureType-Extended700.otf);
}