@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}@font-face {
  font-family: 'HelveticaNeue-01';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue-01.ttf);
}@font-face {
  font-family: 'HIGHWAYSLOVAKD1GOTHIC-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HIGHWAYSLOVAKD1GOTHIC-Regular.otf);
}@font-face {
  font-family: 'SF-Pro-Display-Semibold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Display-Semibold.otf);
}@font-face {
  font-family: 'HelveticaNeue-Bold-02';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue-Bold-02.ttf);
}