 .u-section-1 {
  background-image: url("images/drftgzhjkljhgfx.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1087px;
}

.u-section-1 .u-text-1 {
  font-family: SF-Pro-Display-Semibold;
  font-size: 3rem;
  margin: 20px 0 0 660px;
}

.u-section-1 .u-text-2 {
  font-family: SF-Pro-Display-Regular;
  font-size: 1.25rem;
  margin: 0 0 0 927px;
}

.u-section-1 .u-text-3 {
  font-family: SF-Pro-Display-Semibold;
  font-size: 3rem;
  line-height: 1.04;
  margin: 34px 660px 0 0;
}

.u-section-1 .u-text-4 {
  font-family: SF-Pro-Display-Regular;
  font-size: 1.25rem;
  margin: 42px 927px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 521px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 424px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-1 .u-text-5 {
  font-family: SF-Pro-Display-Semibold;
  font-size: 1.875rem;
  margin: 0 9px 0 7px;
}

.u-section-1 .u-text-6 {
  font-family: SF-Pro-Display-Regular;
  font-size: 1.25rem;
  margin: 7px 3px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: none;
  transition-duration: 0.25s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 400;
  font-family: SF-Pro-Display-Regular;
  font-size: 1rem;
  margin: 31px auto 0;
  padding: 12px 19px 13px 17px;
}

.u-section-1 .u-text-7 {
  font-family: SF-Pro-Display-Regular;
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 570px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 747px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 480px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 747px;
  }

  .u-section-1 .u-layout-cell-1 {
    --radius: 36px;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 547px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 280px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 547px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 350px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 327px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 327px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1500px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 170px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 147px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-right: 147px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: transparent !important;
  font-size: 16px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: transparent !important;
  font-size: 16px !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: auto;
  --radius: 20px;
  margin: 0;
}

.u-section-2 .u-text-1 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-2 .u-text-3 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-2 .u-text-5 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 32px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 28px auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-2 .u-text-7 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 27px auto 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-2 .u-text-9 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-10 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 28px auto 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 33px;
  margin-bottom: 59px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: auto;
  --radius: 20px;
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-12 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 33px 0 0 auto;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-2 .u-text-13 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-14 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 33px 3px 0;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-2 .u-text-15 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-16 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 22px 6px 0 0;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-2 .u-text-17 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 32px auto 0 2px;
}

.u-section-2 .u-text-18 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 28px 3px 0;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 482px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 20px;
}

.u-section-2 .u-text-19 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 0.94;
  font-size: 1.5rem;
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-20 {
  font-family: SF-Pro-Display-Regular;
  line-height: 1.42;
  font-size: 1rem;
  margin: 24px 6px 0 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-2 .u-image-4 {
    height: NaNpx;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 416px;
  }

  .u-section-2 .u-image-5 {
    height: NaNpx;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 416px;
  }

  .u-section-2 .u-image-6 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 416px;
  }

  .u-section-2 .u-image-7 {
    height: NaNpx;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 416px;
  }

  .u-section-2 .u-image-8 {
    height: NaNpx;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 416px;
  }

  .u-section-2 .u-image-9 {
    height: NaNpx;
  }

  .u-section-2 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 416px;
  }

  .u-section-2 .u-image-10 {
    height: NaNpx;
  }

  .u-section-2 .u-text-20 {
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 343px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2393px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6119px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-19 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3929px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 867px;
}

.u-section-3 .u-text-1 {
  font-family: SF-Pro-Display-Semibold;
  line-height: 1.42;
  width: 708px;
  font-size: 1.875rem;
  margin: 60px auto 0;
}

.u-section-3 .u-image-1 {
  width: 357px;
  height: 163px;
  margin: 53px auto 0;
}

.u-section-3 .u-group-1 {
  width: 87px;
  min-height: 204px;
  height: auto;
  margin: 177px auto 0 356px;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-family: HIGHWAYSLOVAKD1GOTHIC-Regular;
  font-size: 1.25rem;
  animation-timing-function: ease;
  margin: 0 -39px;
}

.u-section-3 .u-image-2 {
  width: 30px;
  height: 24px;
  margin: 135px auto 0;
}

.u-section-3 .u-group-2 {
  min-height: 204px;
  height: auto;
  width: 87px;
  margin: -204px auto 0 443px;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-family: HIGHWAYSLOVAKD1GOTHIC-Regular;
  font-size: 1.25rem;
  transition-duration: 0.5s;
  margin: 0 -80px;
}

.u-section-3 .u-image-3 {
  width: 30px;
  height: 25px;
  margin: 135px auto 0;
}

.u-section-3 .u-group-3 {
  min-height: 204px;
  height: auto;
  width: 87px;
  margin: -204px auto 0 530px;
}

.u-section-3 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-family: HIGHWAYSLOVAKD1GOTHIC-Regular;
  font-size: 1.25rem;
  margin: 0 -61px;
}

.u-section-3 .u-image-4 {
  width: 30px;
  height: 25px;
  margin: 135px auto 0;
}

.u-section-3 .u-group-4 {
  min-height: 204px;
  height: auto;
  width: 87px;
  margin: -204px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-family: HIGHWAYSLOVAKD1GOTHIC-Regular;
  font-size: 1.25rem;
  margin: 0 -18px;
}

.u-section-3 .u-image-5 {
  width: 30px;
  height: 25px;
  margin: 135px auto 0;
}

.u-section-3 .u-group-5 {
  min-height: 204px;
  height: auto;
  width: 87px;
  margin: -204px 530px 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-family: HIGHWAYSLOVAKD1GOTHIC-Regular;
  font-size: 1.25rem;
  margin: 0 -53px;
}

.u-section-3 .u-image-6 {
  width: 30px;
  height: 25px;
  margin: 135px auto 0;
}

.u-section-3 .u-group-6 {
  min-height: 204px;
  height: auto;
  width: 87px;
  margin: -204px 443px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-7 {
  font-family: HIGHWAYSLOVAKD1GOTHIC-Regular;
  font-size: 1.25rem;
  margin: 0 -108px;
}

.u-section-3 .u-image-7 {
  width: 30px;
  height: 25px;
  margin: 135px auto 0;
}

.u-section-3 .u-group-7 {
  min-height: 204px;
  height: auto;
  width: 87px;
  margin: -204px 356px 60px auto;
}

.u-section-3 .u-container-layout-7 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-family: HIGHWAYSLOVAKD1GOTHIC-Regular;
  font-size: 1.25rem;
  margin: 0 -78px;
}

.u-section-3 .u-image-8 {
  width: 30px;
  height: 25px;
  margin: 135px auto 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-group-7 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-3 {
    margin-left: 453px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-5 {
    margin-right: 453px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 155px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 253px;
  }

  .u-section-3 .u-group-2 {
    margin-left: 253px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 253px;
  }

  .u-section-3 .u-group-5 {
    margin-right: 253px;
  }

  .u-section-3 .u-group-6 {
    margin-right: 253px;
  }

  .u-section-3 .u-group-7 {
    margin-right: 253px;
  }
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-4 {
  background-image: url("images/DSC02449-scaled.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 580px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 521px;
  margin: 78px auto 0 78px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 424px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-4 .u-text-1 {
  font-family: SF-Pro-Display-Semibold;
  font-size: 1.875rem;
  line-height: 1.05;
  width: 369px;
  margin: 41px auto 0;
}

.u-section-4 .u-image-1 {
  width: 165px;
  height: 165px;
  margin: 41px auto 0;
}

.u-section-4 .u-layout-wrap-2 {
  width: 521px;
  margin: -424px 78px 13px auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 424px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-4 .u-text-2 {
  font-family: SF-Pro-Display-Semibold;
  font-size: 1.875rem;
  line-height: 1.11;
  margin: 54px 8px 0;
}

.u-section-4 .u-text-3 {
  font-family: SF-Pro-Display-Regular;
  font-size: 1.25rem;
  width: 351px;
  margin: 91px auto 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-4 .u-layout-cell-1 {
    --radius: 36px;
  }

  .u-section-4 .u-layout-cell-2 {
    --radius: 36px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-left: 19px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-right: 19px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    width: 320px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: 320px;
  }
}.rotate {
  transform: rotate(-90deg);
}
.mirror {
/* From https://css.glass */
background: rgba(0, 0, 0, 0.3);
border-radius: 40px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}@font-face {
  font-family: 'SF-Pro-Display-Semibold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Display-Semibold.otf);
}@font-face {
  font-family: 'SF-Pro-Display-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Display-Regular.otf);
}@font-face {
  font-family: 'HIGHWAYSLOVAKD1GOTHIC-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HIGHWAYSLOVAKD1GOTHIC-Regular.otf);
}@font-face {
  font-family: 'HelveticaNeue-01';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue-01.ttf);
}@font-face {
  font-family: 'HelveticaNeue-Bold-02';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue-Bold-02.ttf);
}